---
import { getCollection } from "astro:content";
import Base from "@/layouts/Base.astro";
import { AppConfig } from "@/utils/AppConfig";
import Subscribe from "@/components/Subscribe.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => {
    const slug = post.slug;
    const category = post.data.category;
    const path = category === "essays" ? slug : `${category}/${slug}`;

    return {
      params: { post: path },
      props: {
        post,
      },
    };
  });
}

const { post } = Astro.props;
const { title, summary, createdDate, modifiedDate, tags, garden, category } =
  post.data;
const { Content } = await post.render();

const posts = await getCollection("posts");

const sortedPosts = posts
  .filter((p) => p.data.category === category)
  .sort((a, b) => {
    return +new Date(b.data.createdDate) - +new Date(a.data.createdDate);
  });

const index = sortedPosts.findIndex((c: any) => {
  return c.slug == post.slug;
});

const prev = index == 0 ? undefined : sortedPosts[index - 1];
const next =
  index == sortedPosts.length - 1 ? undefined : sortedPosts[index + 1];

const getUrl = (p: any) => {
  return p.data.category === "essays"
    ? `/${p.slug}`
    : `/${p.data.category}/${p.slug}`;
};
---

<Base props={{ title: title, description: summary, image: AppConfig.image }}>
  <h1>{title}</h1>
  <div class="justify-between">
    <div>
      <small>
        <i>{garden.toUpperCase()}</i>
      </small>
    </div>
    <small>Planted: {createdDate}</small>
  </div>
  <div class="justify-between">
    <div>
      {
        tags.map((t) => {
          return (
            <small>
              <i>#{t.toUpperCase()}</i>
            </small>
          );
        })
      }
    </div>
    <small>Last tended: {modifiedDate}</small>
  </div>
  <hr />
  <br />
  <Content />

  <div class="justify-between">
    {
      prev && (
        <a href={getUrl(prev)}>
          <small>&larr; {prev.data.title}</small>
        </a>
      )
    }
    {
      next && (
        <a href={getUrl(next)}>
          <small>{next.data.title} &rarr;</small>
        </a>
      )
    }
  </div>
</Base>
