---
import Analytics from "@/components/Analytics.astro";
import Head, { type HeadProps } from "@/components/Head.astro";
import Nav from "@/components/Nav.astro";
import { AppConfig } from "@/utils/AppConfig";

const {
  props: { title, description, image },
} = Astro.props as HeadProps;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&family=IBM+Plex+Sans:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/css/prism.css" type="text/css" />
    <Head props={{ title, description, image }} />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Ramkarthik Krishnamurthy"
      href={`${AppConfig.site}all-feed.xml`}
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Ramkarthik Krishnamurthy's Essays"
      href={`${AppConfig.site}feed.xml`}
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Ramkarthik Krishnamurthy's Notes"
      href={`${AppConfig.site}notes/feed.xml`}
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Ramkarthik Krishnamurthy's Programming Notes"
      href={`${AppConfig.site}programming/feed.xml`}
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <Analytics />
  </head>
  <body>
    <div class="container">
      <Nav />
      <main>
        <slot />
      </main>
      <footer>
        <p>
          © {new Date().getFullYear()}
          {AppConfig.author}. Built with Astro.
        </p>
      </footer>
    </div>
  </body>
</html>
