---
import { getCollection } from "astro:content";
import { capitalize } from "@/utils/string";

export interface ListPostProps {
  props: {
    key: "essays" | "notes" | "programming" | "lists" | "all";
    showSummary: boolean;
    limit: number;
  };
}

const {
  props: { key, showSummary, limit },
} = Astro.props as ListPostProps;

const allPosts = await getCollection("posts");
const posts =
  key === "all"
    ? allPosts.filter((p) => p.data.category !== "lists")
    : allPosts.filter((p) => p.data.category === key);

let sortedPosts = posts

  .sort((a, b) => {
    return +new Date(b.data.createdDate) - +new Date(a.data.createdDate);
  })
  .slice(0, limit);

const getUrl = (p: any) => {
  return p.data.category === "essays"
    ? `/${p.slug}`
    : `/${p.data.category}/${p.slug}`;
};
---

<div class="post-list">
  <ul>
    {
      sortedPosts.map((p) => {
        return (
          <li class="post-item">
            <a href={getUrl(p)} class="post-link">
              {p.data.title}
            </a>

            {showSummary && <p class="post-summary">{p.data.summary}</p>}
          </li>
        );
      })
    }
  </ul>
</div>

<style>
  .list-title {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 0.9rem;
    color: var(--color-light-gray);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 30px;
    font-weight: 600;
  }
  ul {
    padding-left: 0;
    list-style: none;
  }
  .post-item {
    margin-bottom: 35px;
  }
  .post-link {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--color-darker-text);
    line-height: 1.2;
    transition: all 0.2s ease;
    border: none !important;
    display: inline-flex;
    align-items: center;
  }
  .post-link:after {
    content: "→";
    margin-left: 8px;
    font-size: 1.1rem;
    opacity: 0;
    transform: translateX(-10px);
    transition: all 0.3s ease;
    color: var(--color-accent);
  }
  .post-link:hover {
    color: var(--color-accent);
  }
  .post-link:hover:after {
    opacity: 1;
    transform: translateX(0);
  }

  .post-summary {
    font-size: 1rem;
    color: var(--color-medium-gray);
    margin-top: 10px;
    font-style: italic;
    line-height: 1.5;
  }
</style>
